/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
*{padding: 0; margin: 0;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#MBox_window, #MBox_window_bg {
	color:#999;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:13px;
}

#MBox_secondLine {
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:13px;
	color:#FFF;
	float:right;
	margin:13px 14px 5px 0pt;
}
#MBox_close_button {
	background: transparent url(close.jpg);
	opacity: 0.65;
	width:85px;
	height:22px;
	cursor:hand;
}
#MBox_close_button:hover {
	opacity: 1;
}
#MBox_image_counter {
	float:left;
	opacity: 0.4;
	height:18px;
	text-align:center;
	padding:4px 2px 0;
	background:transparent url(count_bg.png);

}
#MBox_prev {
	background: transparent url(prev.png);
	opacity: 0.4;
	width:16px;
	height:22px;
	cursor:hand;
	float:left;
}
#MBox_prev:hover {
	opacity: .5;
}
#MBox_next {
	background: transparent url(next.png);
	opacity: 0.4;
	width:16px;
	height:22px;
	cursor:hand;
	float:left;
}
#MBox_next:hover {
	opacity: .5;
}
#MBox_last_l {
	background: transparent url(last_l.png);
	opacity: 0.4;
	width:10px;
	height:22px;
	float:left;
}
#MBox_last_r {
	background: transparent url(last_r.png);
	opacity: 0.4;
	width:10px;
	height:22px;
	float:left;
}

#MBox_window a:link {color: #666666;}
#MBox_window a:visited {color: #666666;}
#MBox_window a:hover {color: #000;}
#MBox_window a:active {color: #666666;}
#MBox_window a:focus{color: #666666;}

#MBox_corner_tr, #MBox_corner_tl, #MBox_corner_br,#MBox_corner_bl {
	width:10px;
	height:10px;
	position:absolute;
}
#MBox_corner_tr {
	background:#000 url(corner_tr.gif);
	top:0px;
	right:0px;
}
#MBox_corner_tl {
	background:#000 url(corner_tl.gif);
	top:0px;
	left:0px;
}
#MBox_corner_br {
	background:#000 url(corner_br.gif);
	bottom:0px;
	right:0px;
}
#MBox_corner_bl {
	background:#000 url(corner_bl.gif);
	bottom:0px;
	left:0px;
}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#MBox_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.MBox_overlayMacFFBGHack {background: url(macFFBgHack.png) repeat;}
.MBox_overlayBG {
	background-color:#000;
	filter:alpha(opacity=85);
	-moz-opacity: 0.85;
	opacity: 0.85;
}

* html #MBox_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#MBox_window,#MBox_window_bg {
	position: fixed;
	color:#000000;
	display:none;
	text-align:left;
	top:50%;
	left:50%;
	margin:10px 0;
}

#MBox_window_bg {
	background: #ffffff;
	margin-top:50%;
	margin-bottom:50%;
}

#MBox_window_bg { z-index: 101; }
#MBox_window { z-index: 102; }

* html #MBox_window, * html #MBox_window_bg { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (MBoxWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#MBox_window img#MBox_Image {
	display:block;
	margin: 5px 0 0 15px;
	border: 1px solid #ccc;
}

#MBox_caption{
	height:25px;
	padding:7px 30px 5px 25px;
	float:left;
}

#MBox_closeWindow{
	height:25px;
	padding:13px 10px 0 0;
	float:right;
}

#MBox_closeAjaxWindow{
	padding:7px 10px 5px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
}

#MBox_ajaxWindowTitle{
	float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;
}

#MBox_title{
	background-color:#e8e8e8;
	height:27px;
}

#MBox_ajaxContent{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

#MBox_ajaxContent.MBox_modal{
	padding:15px;
}

#MBox_ajaxContent p{
	padding:5px 0px 5px 0px;
}

#MBox_load{
	position: fixed;
	display:none;
	height:32px;
	width:32px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -16px 0 0 -16px; /* -height/2 0 0 -width/2 */
}

* html #MBox_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (MBoxWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#MBox_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html #MBox_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#MBox_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}
