#liteslide_navigation {
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 100%;
	opacity: .65;
	padding:2px 0;
	display:none;
}
#liteslide_prev {
	background:url(prev.png) right;
	margin-right:65px;

}
#liteslide_next {
	background:url(next.png) left;
	margin-right:5px;
}
#liteslide_stop {
	margin-right:35px;
}
.liteslide_pause {
	background:url(play.png);
	background:url(pause.png);
	margin-left:45%;
}
.liteslide_play {
	background:url(play.png);
}
#liteslide_prev, #liteslide_stop, #liteslide_next {
	width:25px;
	height:20px;
	right:0;
	cursor:pointer;
	position:absolute;
	opacity: .85;
}
#liteslide_prev:hover, #liteslide_stop:hover, #liteslide_next:hover {
	opacity: 1;
}